/* Space out content a bit */
body {
/* padding-top: 20px;
  padding-bottom: 20px;*/
  height: 100%;
  margin: 0;
}
html {
    height: 100%;
    margin: 0;
}
* {
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
}

/* Everything but the jumbotron gets side spacing for mobile first views*/
/*.header,*/
/*.marketing,*/
/*.footer {*/
  /*padding-left: 15px;*/
  /*padding-right: 15px;*/
/*}*/

/* Custom page header*/
/*.header {*/
  /*border-bottom: 1px solid #e5e5e5;*/
/*}*/
/* Make the masthead heading the same height as the navigation*/
/*.header h3 {*/
  /*margin-top: 0;*/
  /*margin-bottom: 0;*/
  /*line-height: 40px;*/
  /*padding-bottom: 19px;*/
/*}*/

/* Custom page footer*/
/*.footer {*/
  /*padding-top: 19px;*/
  /*color: #777;*/
  /*border-top: 1px solid #e5e5e5;*/
/*}*/

/* Customize container */
/*@media (min-width: 768px) {*/
  /*.container {*/
    /*max-width: 730px;*/
  /**/
/*}*/

/* Responsive: Portrait tablets and up */
/*@media screen and (min-width: 768px) {*/
  /* Remove the padding we set earlier*/
  /*.header,*/
  /*.marketing,*/
  /*.footer {*/
    /*padding-left: 0;*/
    /*padding-right: 0;*/
  /*}*/
  /* Space out the masthead*/
  /*.header {*/
    /*margin-bottom: 30px;*/
  /*}*/
  /* Remove the bottom border on the jumbotron for visual effect*/
  /*.jumbotron {*/
    /*border-bottom: 0;*/
  /*}*/

/*}*/
#teaserpage {
    height: 100%;
}
/*#writepage{
    heigth: 100%;
}
#readpage {
    height: 100%;
}*/
ul {
    padding: 0px;
}
#toplist {
    border: none;
    padding: 1em 0em 0.4em 1.5em;
    box-shadow: 0 1px 3px black;
    border-radius: 10px;
    background: #f3f3f3;
    margin: 1em 0 0 0;
}

input {
    border-style:solid;
    border-radius: 5px;
    border-color: #555555;
    border-width: 1px;
    background: #ffffff;
}
.TopIdeaListItem {
    list-style-type: none;
}
.TopIdeaListItemSelected {
    list-style-type: circle;
}
.MyLink {
    color: #0040D0;
    cursor: pointer;
}
.TinyText {
    font-size: 10px;
}


#mainmenu {
    position: fixed;
    right: 0;
    top: 15%;
    z-index: 100;


}
.MenuItem {
    cursor: pointer;
    width: 8em;
    margin: 0.8em 0 0 0;
    background: #efefef;
    color: #0040D0;
    font-weight: normal;
    font-size: large;
    text-align: left;
    border: none;
    padding: 0.5em 0em 0.4em 2.5em;
    box-shadow: 0 1px 3px black;
    border-radius: 3em 0em 0em 3em;
    letter-spacing: 5px;
}
@media (max-width: 768px){
    #mainmenu {
        position: static;
        top: 0%;
    }
    .MenuItem {
        cursor: pointer;
        width: 100%;
        margin: 0.8em 0 0 0;
        background: #efefef;
        color: #0040D0;
        font-weight: normal;
        font-size: large;
        text-align: left;
        border: none;
        padding: 0.5em 0em 0.4em 2.5em;
        box-shadow: 0 1px 3px black;
        border-radius: 3em 0em 0em 3em;
        letter-spacing: 20px;
    }
}
