/* Space out content a bit */
body {
    padding: 0px;
    margin: 0px;
}

* {
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
}

/* Everything but the jumbotron gets side spacing for mobile first views*/
/*.header,*/
/*.marketing,*/
/*.footer {*/
  /*padding-left: 15px;*/
  /*padding-right: 15px;*/
/*}*/

/* Custom page header*/
/*.header {*/
  /*border-bottom: 1px solid #e5e5e5;*/
/*}*/
/* Make the masthead heading the same height as the navigation*/
/*.header h3 {*/
  /*margin-top: 0;*/
  /*margin-bottom: 0;*/
  /*line-height: 40px;*/
  /*padding-bottom: 19px;*/
/*}*/

/* Custom page footer*/
/*.footer {*/
  /*padding-top: 19px;*/
  /*color: #777;*/
  /*border-top: 1px solid #e5e5e5;*/
/*}*/

/* Customize container */
/*@media (min-width: 768px) {*/
  /*.container {*/
    /*max-width: 730px;*/
  /**/
/*}*/

/* Responsive: Portrait tablets and up */
/*@media screen and (min-width: 768px) {*/
  /* Remove the padding we set earlier*/
  /*.header,*/
  /*.marketing,*/
  /*.footer {*/
    /*padding-left: 0;*/
    /*padding-right: 0;*/
  /*}*/
  /* Space out the masthead*/
  /*.header {*/
    /*margin-bottom: 30px;*/
  /*}*/
  /* Remove the bottom border on the jumbotron for visual effect*/
  /*.jumbotron {*/
    /*border-bottom: 0;*/
  /*}*/

/*}*/

.ScrollablePage {
    height: 100vh;
    padding: 20px 150px 20px 20px;
}
#teaserpage {
    background-color: #ffffff;
    text-align: center;
}
#writepage{
    background-color: #c6e2fc;
}
#readpage {
    background-color: #555555;
}
#readpage h1 {
    color: #ffffff;
}
ul {
    padding: 0px;

}
h1, h2, h3, h4, h5 {
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    border-style:solid;
    border-radius: 5px;
    border-color: #555555;
    border-width: 1px;
    background: #ffffff;
}
button {
    border-style:solid;
    border-radius: 5px;
    border-color: #0040D0;
    border-width: 2px;
    background: #0040D0;
    color: #ffffff;
    font-size: large;
    cursor: pointer;
}
textarea {
    border-style:solid;
    border-radius: 5px;
    border-color: #555555;
    border-width: 1px;
    background: #ffffff;
    height: 80vh;
    width: 95%;
}
#teaservideo {
    position: relative;
    top: 60px;
}
.TopIdeaListItem {
    list-style-type: none;
}
.TopIdeaListItemSelected {
    list-style-type: circle;
}
.MyLink {
    color: #0040D0;
    cursor: pointer;
}
.TinyText {
    font-size: 10px;
}
.FlowLayout {
    display: inline-block;
}


#mainmenu {
    position: fixed;
    right: 0;
    top:25%;
    z-index: 100;

}

#toplist {
    border: none;
    padding: 0px 10px 0px 25px;
    /*    box-shadow: 0 1px 3px black;*/
    border-radius: 10px;
    background: #f0f0f0;
    margin: 10px 10px 0 0;
    width: 200px;
    vertical-align: top;
}
#sidea {
    border-radius: 10px;
    /*border-style:dashed;
    border-color: #555555;
    border-width: 1px;*/
    background: #ffffff;
    padding: 10px;
    vertical-align: top;
    margin: 10px 0 0 0;
    width: calc(100% - 300px);
}
#readratecontent {
    height: 80vh;
    width: 100%;
}
.MenuItem {
    cursor: pointer;
    width: 100px;
    margin: 10px 0 0 0;
    background: #efefef;
    color: #0040D0;
    font-weight: normal;
    font-size: large;
    text-align: left;
    border: none;
    padding: 10px 0px 8px 30px;
    box-shadow: 0 1px 3px black;
    border-radius: 30px 0px 0px 10px;
    letter-spacing: 5px;
}
@media (max-width: 768px){
    #mainmenu {
        position: static;
        top: 0%;
        margin: 5px 5px 5px 5px;
    }
    .MenuItem {
        cursor: pointer;
        margin: 10px 0 0 0;
        background: #efefef;
        color: #0040D0;
        font-weight: normal;
        font-size: large;
        text-align: left;
        border: none;
        padding: 10px 0px 8px 30px;
        box-shadow: 0 1px 3px black;
        border-radius: 30px 0px 0px 10px;
        width: 100%;
        letter-spacing: 20px;
    }
    .ScrollablePage {
        height: 100vh;
        padding: 5px 5px 5px 5px;
    }
    #sidea {
        border-radius: 10px;
        /*border-style:dashed;
        border-color: #555555;
        border-width: 1px;*/
        background: #ffffff;
        padding: 10px;
        vertical-align: top;
        margin: 10px 0 0 0;
        width: 95%;
    }

}
