<!--<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">IdeaBoard</h3>
</div>

<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>
-->
        <div id="mainmenu" style="float:right;">
            <ul>
                <li>WATCH</li>
                <li>WRITE</li>
                <li>READ</li>
            </ul>
        </div>

        <section id="teaserpage">
            <h1>ANIMATION SERIES ABOUT PROGRAMMING</h1>
            <iframe width="560" height="315" src="//www.youtube.com/embed/dgrB4f5mOtA" frameborder="0" allowfullscreen></iframe>
        </section>

        <section id="writepage">
            <h1>Write your own plot idea!</h1>
            <textarea></textarea><button>Send</button>
        </section>

        <section id="readpage">
            <div class="container-fluid">
                <div class="row">
                    <h1>Read and Rate plot ideas</h1>

                    <div class="col-md-4">
                        <h4>TOP IDEAS</h4>
                        Search: <input type="text"/>

                    </div>
                    <div class="col-md-8">
                        <h2>MyTitle</h2>

                        <p>Lorem ipsum</p>

                        <p><em>by: Somebody</em></p>
                    </div>
                </div>
            </div>
        </section>
