<h1>Read and Rate plot ideas</h1>

<div class="row">


    <div class="col-md-3">
        <h4>TOP IDEAS</h4>
        Search: <input type="text" ng-model="ideasearch" ng-change="searchChanged(ideasearch)"/>
        <div id="toplist">
            <ul>
                <li ng-class="idea === sidea ? 'TopIdeaListItemSelected' : 'TopIdeaListItem'" ng-repeat="idea in ideas | filter:ideasearch | limitTo: topIdeaLimit">
                    {{idea.id}}. <span class="MyLink" ng-click="showIdea(idea)">{{idea.title}}</<span>
                </li>
                <li class="TopIdeaListItem" ng-show="(ideas | filter:ideasearch).length > topIdeaLimit">...</li>
                <li class="TopIdeaListItem" ng-show="(ideas | filter:ideasearch).length === 0">No search results</li>
            </ul>

        </div>
    </div>
    <div class="col-md-9">
        <h2>{{sidea.title}} <a ng-href="#/?id={{sidea.id}}" class="MyLink TinyText">[Direct link]</a></h2>

        <p>{{sidea.content}}</p>

        <p><em>by: {{sidea.author}}</em></p>
    </div>
</div>